@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Indie+Flower&display=swap');


body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9IQ2tHF4Zr-332nQlxsIjQOwtGtuvbaiM_g&usqp=CAU);
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  display: block;
  text-align: center;

}

h1 {
  font-family: 'Fuzzy Bubbles', cursive;
  background: rgba(5, 248, 9, 0.9);
  margin:0;
  margin-bottom: .5em;
  /* padding: 1em; */
  text-align: center;
  color: red;
}

a {
  color: rgb(207, 0, 0);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 1.5em;
  background: rgba(5, 248, 9, 0.9);
  text-align: center;
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: circle;
  text-shadow: rgb(255, 0, 0);
  text-align: left;

}

li a {
  color: red;

}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: orangered;
  font-size: 1em;
  border-radius: 10%;
}
form{
    color: rgb(0, 0, 0);
    text-shadow:3px 3px 3px red;

}
p{
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 0, 0);
}
 .image{
    display: flex;
    align-items: center;
    justify-content: center;
 }
